# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Ignore backups
*~
*.bak

# Ignore the following directories
build/
buildnogui/
build-*/
buildqt4/
buildqt5/
output/
Output/
bin/
html/
CMakeFiles/
.vscode/
nbproject/
.vscode/

# Ignore cscope and ctags files, and our db files
cscope.files
cscope.out
tags
*.db

# vim
*.swp

# CMake, qt creator
*.pro.user
*.txt.user



